**/Documentations/**/Assets/Advanced-Natural-Language-Processing-with-TensorFlow-2-master/

**/Documentations/**/Assets/Datasets/
**/Documentations/**/Assets/Model/
**/Documentations/**/Assets/Literature/

**/Projects/**/Assets/Datasets/
**/Projects/**/Assets/Model/