**/Documentations/**/Assets/Advanced-Natural-Language-Processing-with-TensorFlow-2-master/
**/Documentations/**/Assets/Modern-Computer-Vision-with-PyTorch-2E-main/
**/Documentations/**/Assets/MasteringPyTorchV2-main/

**/Documentations/**/Assets/Datasets/
**/Documentations/**/Assets/Model/
**/Documentations/**/Assets/Literature/

**/Projects/**/Assets/Datasets/
**/Projects/**/Assets/Model/